/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';
.form-input{
    min-width: 800px;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: black;
    
}

.form-input:focus{
    border: 2px solid #4c8d85;
}

body{
    background: #89b1a5;
    padding: 30px;
    padding-top: 50px;
    
}